.wrapper {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
}
.wrapper #map-canvas {
  height: 90%;
  width: 100%;
}
.error {
  color: red;
}
aside#sidebar {
  min-height: 450px;
}
